    </div>  <!-- end of content div-->
    <footer class="page-footer pt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h5 class="text-uppercase">YelpCamp</h5>
                    <p>Here you can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-uppercase">Useful Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Terms & Conditions</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Sitemap</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="text-uppercase">Connect</h5>
                    <ul class="list-unstyled">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Google+</a></li>
                    </ul>
                </div>
            </div>  <!-- end of row div-->
            <div class="footer-copyright text-center">
                © 2018 CFisch All Rights Reserved
            </div>  <!-- end of copyright div-->
        </div>  <!-- end of footer .container div-->
    </footer>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Popper.js is required for dropdowns, except when they are contained in a navbar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>