<% include partials/header %>

<!-- css styles TODO: move to separate file -->
<style>
  .jumbotron{
    background: transparent;
    color: white;
  }
  .bg-light, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-brand{
    background: transparent !important;
    color: white;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  a.nav-link{
    transition: box-shadow 0.5s ease-in-out !important;
    box-shadow: transparent;
  }
  a.nav-link:hover{
    color: white !important;
    box-shadow: 0 1px 0px white;
  }

  /*fix dropdown menu turning black when focused*/
  .nav-link:hover, .nav-link:focus{
    color: white !important;
  }
  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white !important;
  }
  footer{
    position: relative;
    background-color: rgba(255, 255, 255, .3);
  }
</style>
<div class="landing">
    <div class="jumbotron m-4">
        <h1 class="display-2">YelpCamp</h1>
        <p>
            YelpCamp is designed and built based on the idea that it should be easy and elegant to find the perfect campsite.
        </p>
        <a class="btn btn-dark btn-large" href="/campgrounds">Discover More</a>
    </div>
</div>  <!-- end of div.landing-->

<% include partials/footer %>