input[type="text"].borderless{
    border: none;
    outline: none;
    width: 100%;
}
#userPic{
    width: 30px;
    height: 30px;
}
.row {
  padding-right: 0px;
  margin: 0px;
}
.imageWrapper{
    position: relative;
}
.image{
    position: relative;
    margin: 0 !important;
    width: 100%;
}
.price{
    position: absolute;
    padding: 1.5em;
    background: white;
    right: 0;
    bottom: 0;
    margin: 0;
} 
 
/*edit div stuff*/
#editContainer{
   display: none;
   position: relative;
}
.fas.fa-times{
   position: absolute;
   top: 0;
   right:0;
}
.block{
   display: block !important;
}
.dropdown-menu{
  min-width: 0 !important;
}

/*footer stuff*/
.content{
  min-height: calc(100vh - 200px);
}
footer{
  min-height: 200px;
  background-color: #9F8DA0;
}

/*landing page stuff*/
.landing{  
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  background-image:
          linear-gradient(
            rgba(0, 0, 0, 0.4), 
            rgba(0, 0, 0, 0.4)
          ),
      url("https://images.unsplash.com/photo-1535700601052-b90a78c466f5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f50a3776b0916ec81eac3ab6fc2d514c&auto=format&fit=crop&w=1340&q=80");
  background-size: cover;
}

/*navbar*/
.navbar{
  z-index: 1;
}

/*remove caret in comment edit/delete dropdown*/
.noCaret.dropdown-toggle::after{
  content: none;
}
#dropdownMenuButton{
  padding: 0;
  background: none;
  border: none;
}